<div id="map"></div>
<input id="pac-input" class="controls" type="text" placeholder="Tìm kiếm trên Google Map">
<div id="locationBtn"  onmouseover="showLocationText()" onmouseout="hideLocationText()">
  <div id="locationIcon">&#x1F4CD;</div>
  <div id="locationText" style="display: none"><b>Vị trí của tôi</b></div>
</div>

<div id="hideQC"  onmouseover="showQC()" onmouseout="hideQC()">
  <div id="QCIcon">&#x1F4F5;</div>
  <div id="QCText" style="display: none"><b>Ẩn/hiện</b></div>
</div>